:root{
  --page-color: rgb(138, 43, 226);
  --hover-color: rgba(138, 43, 226, 0.8);
}
*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}

body{
  background-color: var(--page-color);
  font-family: sans-serif;
}


#container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#quoteBox{
  background-color: white;
  color: var(--page-color);
  width: 560px;
  padding: 30px;
  border-radius: 5px;
}

#quote{
  text-align: center;
  font-weight: normal;
}
#quote-icon{
  font-size: 30px;
}
#author{
  text-align: right;
  margin-top: 20px;
}

#new-quote{
  float:right;
  padding: 8px;
  color: white;
  background-color: var(--page-color);
  border: none;
  border-radius: 5px;
}
#new-quote:hover{
  background-color: var(--hover-color);
}
#box2{
  margin: 20px 0;
}

.btn{
  font-size: 25px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: var(--page-color);
  border-radius: 5px;
  border:none;
  margin: 0 10px;
}

.btn:hover{
  background-color: var(--hover-color);
}

.links{
  color: white;
}

#creator{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

